@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Azeret Mono", monospace;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

div nav {
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 190px;
}
.btn {
  width: 228px;
  height: 58px;
  margin-top: 38px;
  font-weight: 600px;
  font-size: 20px;
  color: #0d1321;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  padding: 17px 24px 17px 24px;
}
div nav h4 {
  margin-top: 50px;
  color: #0d1321;
  font-size: 28px;
  font-weight: 800px;
}
.intro {
  background-image: url("../assets/Hero-bg.png");
  height: 652px;
  width: 100%;
  margin-top: 60px;
  text-align: center;
  padding-top: 26px;
}
.pic {
  width: 240px;
  height: 240px;
}
.intro h1 {
  margin-top: 30px;
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800px;
  line-height: 68px;
}
.intro p {
  margin-top: 24px;
  color: (13, 19, 33);
  font-weight: 400px;
  font-size: 16px;
  opacity: 0.7;
  line-height: 26px;
}
.intro button {
  margin-top: 54px;
  width: 208px;
  height: 66px;
  background-color: #0d1321;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600px;
  border-radius: 8px;
  padding: 21px 24px;
}
/* banner section ends here  */

/*  Why web development section starts here */
.web-section {
  /* border: 2px solid red; */
  width: 1140px;
  /* height: 1395px; */
  margin: 0 auto;
  margin-top: 74px;
  border-radius: 16px;
  background-color: #0d132105;
  padding: 15px 0;
}
.first-heading {
  text-align: center;
  margin-left: 144px;
  margin-right: 146px;
  margin-top: 80px;
}
.first-heading h3 {
  font-size: 32px;
  font-weight: 800px;
  color: #0d1321;
  line-height: 37px;
}
.first-heading p {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400px;
  color: #0d1321;
  line-height: 26px;
  opacity: 0.7;
}
.main-cards {
  /* border: 2px solid yellow; */
  width: 946px;
  height: 1072px;
  margin: 48px 97px 80px 97px;
}
.first-card {
  /* border: 2px solid blue; */
  width: 946px;
  height: 336px;
  background-color: white;
  padding: 48px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #ffffff, #ffffff00);
  border-radius: 16px;
}
.cards-h4 {
  font-weight: 700;
  font-size: 24px;
  color: rgba(13, 19, 33, 0.702);
  margin-top: 10.5px;
  line-height: 36px;
}
.cards-paragraph {
  font-weight: 400;
  font-size: 16px;
  margin-top: 16px;
  line-height: 26px;
  color: rgb(13, 19, 33);
  opacity: 0.7;
}
.cards-btn {
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  width: 150px;
  height: 48px;
  color: rgb(13, 19, 33);
  font-weight: 600;
  font-size: 20px;
  margin-top: 32px;
  background-color: transparent;
}
.second-card {
  /* border: 2px solid black; */
  width: 946px;
  height: 336px;
  margin-top: 32px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 48px;
  background: linear-gradient(to left, #ffffff, #ffffff00);
  border-radius: 16px;
}
.second-card-div {
  width: 65%;
}

.third-card {
  /* border: 2px solid green; */
  width: 946px;
  height: 336px;
  margin-top: 32px;
  border-radius: 16px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 48px;
  background: linear-gradient(to right, #ffffff, #ffffff00);
}
/*  Why web development section ends here */

/* <!-- inspiration section starts here --> */

.inspiration-sec {
  /* border: 2px solid red; */
  width: 1140px;
  height: 777px;
  margin: 0 auto;
  margin-top: 88px;
}
.inspiration-targets {
  text-align: center;
  margin-left: 144px;
  margin-right: 146px;
}
.inspiration-targets h3 {
  font-size: 32px;
  font-weight: 800px;
  color: #0d1321;
  line-height: 37px;
}
.inspiration-targets p {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400px;
  color: #0d1321;
  line-height: 26px;
  color: rgb(13, 19, 33);
  opacity: 0.7;
}

.video-container {
  border: 1px solid rgba(13, 19, 33, 0.2);
  width: 1140px;
  height: 614px;
  margin-top: 60px;
  padding: 32px;
  border-radius: 16px;
}
.video {
  /* border: 2px solid blue; */
  width: 1076px;
  height: 550px;
  border-radius: 16px;
}
/* <!-- inspiration section ends here --> */
/* <!-- current targets starts here --> */
.current-targets {
  /* border: 2px solid red; */
  width: 1140px;
  height: 463px;
  margin: 0 auto;
  margin-top: 149px;
}
.html {
  /* border: 2px solid greenyellow; */
  width: 364px;
  height: 300px;
  border-radius: 16px;
  background-color: rgba(255, 76, 30, 0.05);
  padding: 40px;
}
.html h4 {
  margin-top: 24px;
  font-weight: 800px;
  font-size: 24px;
  color: rgb(13, 19, 33);
  line-height: 36px;
}
.html p {
  margin-top: 8px;
  font-weight: 400px;
  font-size: 16px;
  color: rgb(13, 19, 33);
  opacity: 0.7;
  line-height: 26px;
}
.html a {
  margin-top: 14px;
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: rgb(13, 19, 33);
  line-height: 19px;
}
.css {
  /* border: 2px solid rgb(28, 8, 249); */
  width: 364px;
  height: 300px;
  border-radius: 16px;
  background-color: rgba(0, 76, 232, 0.05);
  padding: 40px;
}
.css h4 {
  margin-top: 24px;
  font-weight: 800px;
  font-size: 24px;
  color: rgb(13, 19, 33);
  line-height: 36px;
}
.css p {
  margin-top: 8px;
  font-weight: 400px;
  font-size: 16px;
  color: rgb(13, 19, 33);
  opacity: 0.7;
  line-height: 26px;
}
.css a {
  margin-top: 14px;
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: rgb(13, 19, 33);
  line-height: 19px;
}
.java {
  /* border: 2px solid rgb(6, 189, 255); */
  width: 364px;
  height: 300px;
  border-radius: 16px;
  background-color: rgba(255, 223, 0, 0.05);
  padding: 40px;
}
.java h4 {
  margin-top: 24px;
  font-weight: 800px;
  font-size: 24px;
  color: rgb(13, 19, 33);
  line-height: 36px;
}
.java p {
  margin-top: 8px;
  font-weight: 400px;
  font-size: 16px;
  color: rgb(13, 19, 33);
  opacity: 0.7;
  line-height: 26px;
}
.java a {
  margin-top: 14px;
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: rgb(13, 19, 33);
  line-height: 19px;
}
.html-css-java {
  margin-top: 48px;
  display: flex;
  gap: 24px;
}

.support-section {
  /* border: 2px solid red; */
  width: 1140px;
  height: 314px;
  margin-top: 42px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../assets/handshake.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  text-align: center;
}
.back-color {
  background-color: rgb(0, 0, 0, 20%);
  padding: 64px 48px;
  border-radius: 16px;
}
.support-section h3 {
  font-size: 32px;
  font-weight: 700px;
  color: rgb(255, 255, 255);
}
.support-section p {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  height: 52px;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.support-section input {
  width: 548px;
  height: 57px;
  margin-top: 24px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400px;
  padding: 19px 20px 19px 20px;
  color: rgba(13, 19, 33, 0.4);
}
.support-section button {
  margin-left: 16px;
  width: 120px;
  height: 58px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  padding: 17px 20px 17px 20px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600px;
}
footer {
  border-radius: 16px;
  background-color: rgba(13, 19, 33, 0.03);
}
.footer-part {
  /* border: 2px solid red; */
  width: 1140px;
  height: 100px;
  margin-top: 79px;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}
.footer-part p {
  height: 24px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600px;
}
.icons {
  width: 157px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  gap: 24px;
}
