@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Azeret Mono", monospace;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

div nav {
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 190px;
}
.btn {
  width: 228px;
  height: 58px;
  margin-top: 38px;
  font-weight: 600px;
  font-size: 20px;
  color: #0d1321;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
}
div nav h4 {
  margin-top: 50px;
  color: #0d1321;
  font-size: 28px;
  font-weight: 800px;
}
.intro {
  background-image: url("../assets/Hero-bg.png");
  width: 1440px;
  height: 652px;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
  padding-top: 26px;
}
.pic {
  width: 240px;
  height: 240px;
}
.intro h1 {
  margin-top: 30px;
  color: #0d1321;
  font-size: 48px;
  font-weight: 800px;
}
.intro p {
  margin-top: 24px;
  color: #0d1321;
  font-weight: 400px;
  font-size: 16px;
}
.intro button {
  margin-top: 54px;
  width: 208px;
  height: 66px;
  background-color: #0d1321;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600px;
  border-radius: 8px;
  padding: 21px 24px;
}
/* banner section ends here  */

/*  Why web development section ends here */
.web-section {
  border: 2px solid red;
  width: 1140px;
  height: 1395px;
  margin-left: 148px;
  margin-right: 152px;
  margin-top: 74px;
  border-radius: 16px;
  background-color: #0d132105;
}
.first-heading {
  text-align: center;
  margin-left: 144px;
  margin-right: 146px;
  margin-top: 80px;
}
.first-heading h3 {
  font-size: 32px;
  font-weight: 800px;
  color: #0d1321;
}
.first-heading p {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400px;
  color: #0d1321;
}
.main-cards {
  border: 2px solid yellow;
  width: 946px;
  height: 1072px;
  margin: 48px 97px 80px 97px;
}
.first-card {
  border: 2px solid blue;
  width: 946px;
  height: 336px;
  background-color: white;
  padding: 48px;
  display: flex;
  justify-content: space-between;
}
.cards-h4 {
  font-weight: 700;
  font-size: 24px;
  color: #0d1321b3;
  margin-top: 10.5px;
}
.cards-paragraph {
  font-weight: 400;
  font-size: 16px;
  color: #0d1321;
  margin-top: 16px;
}
.cards-btn {
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  width: 150px;
  height: 48px;
  color: rgb(13, 19, 33);
  font-weight: 600;
  font-size: 20px;
  margin-top: 32px;
}
.second-card {
  border: 2px solid black;
  width: 946px;
  height: 336px;
  margin-top: 32px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 48px;
}
.second-card-div {
  width: 65%;
}

.third-card {
  border: 2px solid green;
  width: 946px;
  height: 336px;
  margin-top: 32px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 48px;
}
